NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-at-least-32-random-characters"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL_DAYS=30
OTP_TTL_MINUTES=10
OTP_MAX_ATTEMPTS=5
